<% layout('../layout') -%>

<style>
  #stats_table {
    margin-top: 2em;
    margin-bottom: 6em;
  }
</style>

<h1>Stats for <%= schoolID %></h1>

<table class="table" id="stats_table">
  <tr>
    <th>Total Books in Library</th>
    <th>Books on reserve</th>
    <th>Books out currently</th>
    <th>Number of accounts</th>
    <th>Number of admins</th>
  <tr>
  <tr>
    <td><%- schoolStats.books %></td>
    <td><%- schoolStats.booksOnReserve %></td>
    <td><%- schoolStats.booksGivenOut %></td>
    <td><%- schoolStats.accounts %></td>
    <td><%- schoolStats.adminAccounts %></td>
  </tr>
</table>
